<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Mrs_Potato_Updated"
    android:versionCode="1"
    android:versionName="1.0" >
    
<instrumentation 
    android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="com.example.Mrs_Potato_Updated"
    android:label="Transaction_ActivityTest" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.Mrs_Potato_Updated.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Mrs_Potato_Updated.Register_Activity"
            android:label="@string/title_activity_register_" >
        </activity>
        <activity
            android:name="com.example.Mrs_Potato_Updated.Login_Activity"
            android:label="@string/title_activity_login_" >
        </activity>
        <activity
            android:name="com.example.Mrs_Potato_Updated.Profile_Activity"
            android:label="@string/title_activity_profile_" >
        </activity>
        <activity
            android:name="com.example.Mrs_Potato_Updated.RegisterAccount_Activity"
            android:label="@string/title_activity_account_" >
        </activity>
        <activity
            android:name="com.example.Mrs_Potato_Updated.AccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name="com.example.Mrs_Potato_Updated.Transaction_Activity"
            android:label="@string/title_activity_transaction_" >
        </activity>
        <activity
            android:name="com.example.Mrs_Potato_Updated.SpendingReport_Activity"
            android:label="@string/title_activity_spending_report_" >
        </activity>
        <activity
            android:name="com.example.Mrs_Potato_Updated.Account_Activity"
            android:label="@string/title_activity_account_" >
        </activity>
        
        <uses-library 
            android:name="android.test.runner" />
        
    </application>
    
	<supports-screens 
	    android:anyDensity="true"/> 
</manifest>
