<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mrs_potato"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mrs_potato.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mrs_potato.Register_Activity"
            android:label="@string/title_activity_register_" >
        </activity>
        <activity
            android:name="com.example.mrs_potato.Login_Activity"
            android:label="@string/title_activity_login_" >
        </activity>
        <activity
            android:name="com.example.mrs_potato.Profile_Activity"
            android:label="@string/title_activity_profile_" >
        </activity>
        <activity
            android:name="com.example.mrs_potato.RegisterAccount_Activity"
            android:label="@string/title_activity_account_" >
        </activity>
        <activity
            android:name="com.example.mrs_potato.AccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name="com.example.mrs_potato.Transaction_Activity"
            android:label="@string/title_activity_transaction_" >
        </activity>
        <activity
            android:name="com.example.mrs_potato.SpendingReport_Activity"
            android:label="@string/title_activity_spending_report_" >
        </activity>
        <activity
            android:name="com.example.mrs_potato.Account_Activity"
            android:label="@string/title_activity_account_" >
        </activity>
    </application>

</manifest>
